.header {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.aboutMe {
    max-width: 800px;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
}

.button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background: linear-gradient(to bottom, #ff00aa, #dd0088, #b700ff);
    color: white;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
}

.App {
    background-image: url('/i.webp'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    background-image: url('/result_Simtech Solutions-fotor-bg-remover-2025112217638.png');
    top: 0;
    position: absolute;
    left: 0;
    width: 100px; 
    height: 65px;
    z-index: 10; 
    margin-left: 50px;
}

.menuButton, .ButtonBlack {
    font-size: inherit;
    font-weight: bold;
    border-radius: 9px;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 7px 10px;
}

.ButtonBlack {
    background-color: black;
    color: #ffffff;
}

.menuButton:hover, .ButtonBlack:hover {
    color: #007bff;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 100px;
    padding-top: 20px;
}

.Portfolio {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.projectCard {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.projectCard:hover {
    transform: scale(1.05); 
}

.thumbnail {
    width: 10%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.projectCard h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.projectCard p {
    font-size: 1em;
    line-height: 1.5;
    color: #494949;
}

.buttonEx {
    margin: 0 auto;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #cc00ff;
    color: white;
    text-decoration: none;
    font-size: inherit;
    font-weight: bold;
    border-radius: 9px;
    padding: 7px 10px;
    margin: 10px;
}

.avatarRam {
    background-image: url('/rrr.webp'); 
    max-width: 800px;
    margin-top: 200px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}