.header {
    font-size: 24px;
    font-weight: bold;
    color: #b700ff;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #b700ff;
}
.aboutMe {
    max-width: 800px;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: #b700ff;
}
.button {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: #ff00aa;
}

.App {
    background-image: url('C:\Users\Lenovo\Desktop\Practic\Project\public\i.webp');
    background-size: cover; 
    background-position: center; 
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo {
    width: 500px;
    height: auto;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}
.menuButton {
    background-color: transparent;
    border: none;
    font-size: inherit;  
    font-weight: bold;  
    color: #333;  
    cursor: pointer;  
    transition: color 0.3s ease;  
    padding: 5px 10px;
}

.menuButton:hover {  color: #007bff;}

.navigation {
    text-align: right;
}